*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Hacked';
    src: url('font/hacked.ttf');
}

.header {
    background-color: #1e1e1e;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 10;
}

.header__logo {
    font-family: 'Hacked';
    text-decoration: none;
    color: #fff;
    letter-spacing: .8rem;
}

.header__title {
    font-size: 4rem;
}

.hamburger {
    width: 4.8rem;
    height: 3.6rem;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .4s;
}

.hamburger__inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after,
.hamburger__inner {
    content: '';
    position: absolute;
    width: 100%;
    height: .6rem;
    background-color: #fff;
    left: 0;
    transition: transform .2s;
}

.hamburger__inner::before {
    top: -1.4rem;
}

.hamburger__inner::after {
    top: 1.4rem;
}

/* HAMBURGER BUTTON ON CLICK ANIMATION */

.hamburger--is-active > .hamburger__inner {
    background-color: transparent;
}

.hamburger--is-active {
    transform: rotate(180deg);
}

.hamburger--is-active > .hamburger__inner::before {
    transform: translateY(1.4rem) rotate(45deg);
}

.hamburger--is-active > .hamburger__inner::after {
    transform: translateY(-1.4rem) rotate(-45deg);
}

.navigation {
    background-color: #1e1e1e;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 5;
}

.navigation--is-active {
    display: flex;
}

.navigation__list {
    list-style: none;
    text-align: center;
}

.navigation__item {
    padding: 1.4rem;
    font-size: 5.2rem;
    letter-spacing: .8rem;
    font-family: 'Hacked';
}

.navigation__link:hover {
    text-shadow: -2px 2px red, 2px -2px cyan;
    letter-spacing: 1.6rem;
}

.navigation__link {
    color: #fff;
    text-decoration: none;
}

.intro {
    width: 100vw;
    height: 90vh;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: top;
    padding: 0 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    font-family: 'Source Code Pro';
}

.intro__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.intro__description {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
}

.intro__button {
    position: absolute;
    bottom: 5%;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    font-family: 'Source Code Pro';
    padding: 2rem 4rem;
    cursor: pointer;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10rem;
}

.item {
    width: 50vw;
    display: grid;
    grid-template-columns: 1fr 70%;
}

.item__photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__img {
    width: 80%;
    height: 80%;
}

.item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Source Code Pro';
    padding: 0 2rem;
}

.item__name {
    font-family: 'Hacked';
    font-size: 4.8rem;
    letter-spacing: .8rem;
}

.item__type {
    font-size: 2rem;
    text-transform: uppercase;
}

.item__description {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.footer {
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer__copy {
    font-size: 2rem;
    font-family: 'Sorce Code Pro';
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding-top: 6rem;
    background-color: #1e1e1e;
    color: #fff;
}

.boxes {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding-top: 80px;
}

.box {
    margin: 4rem;
    padding: 3rem 0;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 4px solid #fff;
    width: 22%;
    height: 40vh;
    min-height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}

.box--pro {
    width: 25%;
    height: 45vh;
    font-size: 1.6rem;
}

.box__title {
    font-family: 'Hacked';
    letter-spacing: .3rem;
    font-size: 3em;
}

.box__title--pro {
    text-shadow: -2px 2px red, 2px -2px cyan;
    color: #1e1e1e;
}

.box__list {
    list-style-type: none;
    font-family: 'Source Code Pro';
}

.box__item {
    margin: 1rem;
}

.box__price {
    font-family: 'Hacked';
    font-size: 2rem;
}
.box__price--pro {
    font-size: 3rem;
}

.box__button {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 3rem;
    font-family: 'Source Code Pro';
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 1.4rem;
}

.box__button:hover,
.service__button:hover,
.contact__button:hover {
    color: #1e1e1e;
    background-color: #fff;
}

.box__button--pro {
    padding: 1.4rem 4rem;
    font-size: 1.6rem;
}

.services,
.contact {
    padding: 80px 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.services__heading,
.pricing-plan__heading,
.contact__heading {
    font-size: 6rem;
    font-family: 'Hacked';
    letter-spacing: .8rem;
}

.services__description,
.contact__description {
    font-family: 'Source Code Pro';
    font-size: 2rem;
    line-height: 1.6;
}

.services__description--new-line {
    display: block;
}

.services__list,
.contact__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.service,
.contact__item {
    border: 4px solid #fff;
    margin: 4rem 2rem;
    width: 20%;
    min-width: 280px;
    font-family: 'Source Code Pro';
    text-align: center;
}

.service__title,
.contact__title {
    background-color: #fff;
    color: #1e1e1e;
    padding: 1rem;
    font-family: 'Hacked';
    font-size: 3.2rem;
    letter-spacing: .4rem;
}

.service__description,
.contact__info {
    font-size: 1.6rem;
    padding: 1.4rem 2rem;
    text-align: left;
}

.service__button,
.contact__button {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid #fff;
    cursor: pointer;
    color: #fff;
    font-size: 1.6rem;
    font-family: 'Source Code Pro';
    margin: 1rem;
}

.contact__image {
    display: flex;
    align-items: center;
}

.contact__img {
    width: 20%;
    order: 1;
    margin-right: 1rem;
    margin-top: 1rem;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 50%;
    }
    .intro {
        padding: 0 20vw;
    }

    .item {
        width: 100vw;
    }

    .item__name {
        font-family: 'Hacked';
        font-size: 4rem;
        letter-spacing: .4rem;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 37.5%;
    }

    .intro {
        padding: 0 10vw;
    }
}

@media only screen and (max-width: 600px) {

    .boxes {
        flex-direction: column;
    }

    .box {
        width: 50%;
    }
}

.page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}