*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@font-face {
    font-family: 'Hacked';
    src: url('font/hacked.ttf');
}

.header {
    background-color: #1e1e1e;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.header__logo {
    font-family: 'Hacked';
    text-decoration: none;
    color: #fff;
    letter-spacing: .8rem;
}

.header__title {
    font-size: 4rem;
}

.hamburger {
    width: 4.8rem;
    height: 3.6rem;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .4s;
}

.hamburger__inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after,
.hamburger__inner {
    content: '';
    position: absolute;
    width: 100%;
    height: .6rem;
    background-color: #fff;
    left: 0;
    transition: transform .2s;
}

.hamburger__inner::before {
    top: -1.4rem;
}

.hamburger__inner::after {
    top: 1.4rem;
}

/* HAMBURGER BUTTON ON CLICK ANIMATION */

.hamburger--is-active > .hamburger__inner {
    background-color: transparent;
}

.hamburger--is-active {
    transform: rotate(180deg);
}

.hamburger--is-active > .hamburger__inner::before {
    transform: translateY(1.4rem) rotate(45deg);
}

.hamburger--is-active > .hamburger__inner::after {
    transform: translateY(-1.4rem) rotate(-45deg);
}