*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

@font-face {
    font-family: 'Hacked';
    src: url('font/hacked.ttf');
}

.header {
    background-color: #1e1e1e;
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 10;
}

.header__logo {
    font-family: 'Hacked';
    text-decoration: none;
    color: #fff;
    letter-spacing: .8rem;
}

.header__title {
    font-size: 4rem;
}

.hamburger {
    width: 4.8rem;
    height: 3.6rem;
    position: relative;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: transform .4s;
}

.hamburger__inner {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger__inner::before,
.hamburger__inner::after,
.hamburger__inner {
    content: '';
    position: absolute;
    width: 100%;
    height: .6rem;
    background-color: #fff;
    left: 0;
    transition: transform .2s;
}

.hamburger__inner::before {
    top: -1.4rem;
}

.hamburger__inner::after {
    top: 1.4rem;
}

/* HAMBURGER BUTTON ON CLICK ANIMATION */

.hamburger--is-active > .hamburger__inner {
    background-color: transparent;
}

.hamburger--is-active {
    transform: rotate(180deg);
}

.hamburger--is-active > .hamburger__inner::before {
    transform: translateY(1.4rem) rotate(45deg);
}

.hamburger--is-active > .hamburger__inner::after {
    transform: translateY(-1.4rem) rotate(-45deg);
}

.navigation {
    background-color: #1e1e1e;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 5;
}

.navigation--is-active {
    display: flex;
}

.navigation__list {
    list-style: none;
    text-align: center;
}

.navigation__item {
    padding: 1.4rem;
    font-size: 6rem;
    letter-spacing: .8rem;
    font-family: 'Hacked';
}

.navigation__link:hover {
    text-shadow: -2px 2px red, 2px -2px cyan;
    letter-spacing: 1.6rem;
}

.navigation__link {
    color: #fff;
    text-decoration: none;
}

.intro {
    width: 100vw;
    height: 90vh;
    background-image: url('img/background.jpg');
    background-size: cover;
    background-position: top;
    padding: 0 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    font-family: 'Source Code Pro';
}

.intro__title {
    font-size: 4rem;
    line-height: 4;
}

.intro__description {
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    font-family: sans-serif;
}

.intro__button {
    position: absolute;
    bottom: 5%;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    font-family: 'Source Code Pro';
    padding: 2rem 4rem;
    cursor: pointer;
}