.hamburger {
    width: 4.8rem;
    height: 3.6rem;
    position: relative;
    background-color: transparent;
    transition: transform .4s;

    &__inner {
        @include hamburger-line;

        transform: translateY(-50%);
        top: 50%;

        &::before {
            content: '';
            top: -1.4rem;

            @include hamburger-line;
        }

        &::after {
            content: '';
            top: 1.4rem;

            @include hamburger-line;
        }
    }


    /* HAMBURGER BUTTON ON CLICK ANIMATION */

    &--is-active {
        transform: rotate(180deg);
    }

    &--is-active > &__inner {
        background-color: transparent;
    }

    &--is-active > &__inner::before {
        transform: translateY(1.4rem) rotate(45deg);
    }

    &--is-active > &__inner::after {
        transform: translateY(-1.4rem) rotate(-45deg);
    }
}