*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;

    @include respond-to('medium') {
        font-size: 37.5%;
    }
}

body {
    overflow-x: hidden;
}

a,
a:link,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}