.pricing-plan {
    @include flexbox-layout;
    @include dark-theme;

    padding: 8rem 0;

    &__heading {
        @include heading;
        text-align: center;
    }

    &__plans {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include respond-to('medium') {
            flex-direction: column;
        }
    }
}